
@font-face {
    font-family:"Nunito Sans SemiBold";
    src:url("NunitoSans-SemiBold.woff2") format("woff2"),url("NunitoSans-SemiBold.woff") format("woff"),url("NunitoSans-SemiBold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        