html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Nunito Sans"), local("Nunito Sans Regular"),
    url("./fonts/NunitoSans-Regular.woff2") format("woff2"),
    url("./fonts/NunitoSans-Regular.woff") format("woff"),
    url("./fonts/NunitoSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Zilla Slab Medium";
  font-style: normal;
  font-weight: 400;
  src: local("Zilla Slab Medium"),
    url("./fonts/ZillaSlab-Medium.woff2") format("woff2"),
    url("./fonts/ZillaSlab-Medium.woff") format("woff"),
    url("./fonts/ZillaSlab-Medium.ttf") format("truetype");
}
body {
  color: #000;
  font-family: "Nunito Sans", sans-serif;
  line-height: 1.6;
  font-weight: 400;
  padding: 0;
  margin: 0;
  background-color: #fff;
}
html {
  font-size: 13px;
}
@media (min-width: 320px) {
  html {
    font-size: calc(13px + 3 * (100vw - 320px) / 880);
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 16px;
  }
}
h1,
h2 {
  color: #000;
}
html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}
img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
a,
a:focus,
a:visited {
  color: #000;
}
.link {
  cursor: pointer;
  color: #000;
  text-decoration: underline;
}
strong {
  font-weight: 700;
  letter-spacing: 0.5px;
}
object[aria-hidden="true"],
iframe[aria-hidden="true"] {
  opacity: 0;
}
.vis {
  position: relative;
  width: 100%;
  height: 100%;
}
.vis__wrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
button.svelte-1kr9eyj {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border: none;
  cursor: pointer;
  background-color: #fff;
  border-radius: 24px;
  box-sizing: border-box;
  border: 1px solid #eeeeee;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}
button.svelte-1kr9eyj:focus {
  outline: 0;
}
.is-big.svelte-1kr9eyj {
  width: 32px;
  height: 32px;
  background-size: 22px;
}
.close.svelte-1kr9eyj {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  overflow: hidden;
}
.close.svelte-1kr9eyj::before,
.close.svelte-1kr9eyj::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -1px;
  background: #000;
}
.close.svelte-1kr9eyj::before {
  transform: rotate(45deg);
}
.close.svelte-1kr9eyj::after {
  transform: rotate(-45deg);
}
.event.svelte-1egd6r1.svelte-1egd6r1 {
  position: absolute;
  cursor: pointer;
  pointer-events: all;
}
.event.is-highlighted.svelte-1egd6r1 .event__text.svelte-1egd6r1 {
  border: 1px solid #757575;
}
.event.is-highlighted.svelte-1egd6r1 .event__icon.svelte-1egd6r1 {
  border: 1px solid #757575;
  color: #757575;
}
.event.is-selected.svelte-1egd6r1 .event__icon.svelte-1egd6r1 {
  color: #000;
}
.event.svelte-1egd6r1:hover .event__icon.svelte-1egd6r1 {
  color: #000;
}
.event__icon.svelte-1egd6r1.svelte-1egd6r1 {
  background-color: #fff;
  display: flex;
  color: #bdbdbd;
  border: 1px solid #bdbdbd;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}
.event__icon.svelte-1egd6r1 span.svelte-1egd6r1 {
  display: flex;
  pointer-events: none;
}
.event__text.svelte-1egd6r1.svelte-1egd6r1 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border: 1px solid #e0e0e0;
  overflow: hidden;
  border-radius: 0px 3px 3px 3px;
  padding: 5.9171597633px;
  font-size: 10.8333333333px;
  pointer-events: all;
}
@media (min-width: 320px) {
  .event__text.svelte-1egd6r1.svelte-1egd6r1 {
    padding: calc(5.9171597633px + 0.0087661626 * (100vw - 320px) / 880);
  }
}
@media (min-width: 1200px) {
  .event__text.svelte-1egd6r1.svelte-1egd6r1 {
    padding: 5.9259259259px;
  }
}
@media (min-width: 320px) {
  .event__text.svelte-1egd6r1.svelte-1egd6r1 {
    font-size: calc(10.8333333333px + -0.1666666667 * (100vw - 320px) / 880);
  }
}
@media (min-width: 1200px) {
  .event__text.svelte-1egd6r1.svelte-1egd6r1 {
    font-size: 10.6666666667px;
  }
}
.event__text.svelte-1egd6r1 h2.svelte-1egd6r1 {
  color: #9e9e9e;
}
.event__text.svelte-1egd6r1 p.svelte-1egd6r1 {
  line-height: 1.45;
  overflow: hidden;
}
.event__text.is-open.svelte-1egd6r1.svelte-1egd6r1 {
  white-space: normal;
  z-index: 100;
}
.event__text.svelte-1egd6r1 a {
  text-decoration: none;
  border-bottom: 1px solid #eeeeee;
}
.event__text.svelte-1egd6r1 a:hover {
  border-color: #000;
}
.event__content.svelte-1egd6r1.svelte-1egd6r1 {
  display: flex;
  flex-direction: column;
}
.event__close.svelte-1egd6r1.svelte-1egd6r1 {
  z-index: 110;
  position: absolute;
  top: -10px;
  right: -10px;
}
.header.svelte-12z2y5s.svelte-12z2y5s {
  text-align: center;
}
.header.svelte-12z2y5s h1.svelte-12z2y5s {
  font-weight: 400;
  font-family: "Zilla Slab Medium", serif;
  letter-spacing: 0.5px;
  font-size: 15.6px;
  margin-bottom: 5.9171597633px;
  margin-top: 11.4017546034px;
  line-height: 1.2;
}
@media (min-width: 320px) {
  .header.svelte-12z2y5s h1.svelte-12z2y5s {
    font-size: calc(15.6px + 8.4 * (100vw - 320px) / 880);
  }
}
@media (min-width: 1200px) {
  .header.svelte-12z2y5s h1.svelte-12z2y5s {
    font-size: 24px;
  }
}
@media (min-width: 320px) {
  .header.svelte-12z2y5s h1.svelte-12z2y5s {
    margin-bottom: calc(5.9171597633px + 0.0087661626 * (100vw - 320px) / 880);
  }
}
@media (min-width: 1200px) {
  .header.svelte-12z2y5s h1.svelte-12z2y5s {
    margin-bottom: 5.9259259259px;
  }
}
@media (min-width: 320px) {
  .header.svelte-12z2y5s h1.svelte-12z2y5s {
    margin-top: calc(11.4017546034px + 4.9281770359 * (100vw - 320px) / 880);
  }
}
@media (min-width: 1200px) {
  .header.svelte-12z2y5s h1.svelte-12z2y5s {
    margin-top: 16.3299316393px;
  }
}
.c.svelte-1un7k2y {
  width: 1em;
  height: 1em;
  fill: currentColor;
  transition: all 0.3s ease-out;
  overflow: visible;
}
.tooltip.svelte-1ywhj2n {
  font-size: 11.8673233608px;
  pointer-events: none;
}
@media (min-width: 320px) {
  .tooltip.svelte-1ywhj2n {
    font-size: calc(11.8673233608px + 1.1966219506 * (100vw - 320px) / 880);
  }
}
@media (min-width: 1200px) {
  .tooltip.svelte-1ywhj2n {
    font-size: 13.0639453114px;
  }
}
.tooltip__close.svelte-1ywhj2n {
  position: absolute;
  pointer-events: all;
  top: -10px;
  right: -10px;
}
.tick.svelte-2rqv3g.svelte-2rqv3g,
.label.svelte-2rqv3g.svelte-2rqv3g {
  font-size: 10.8333333333px;
  font-weight: 200;
}
@media (min-width: 320px) {
  .tick.svelte-2rqv3g.svelte-2rqv3g,
  .label.svelte-2rqv3g.svelte-2rqv3g {
    font-size: calc(10.8333333333px + -0.1666666667 * (100vw - 320px) / 880);
  }
}
@media (min-width: 1200px) {
  .tick.svelte-2rqv3g.svelte-2rqv3g,
  .label.svelte-2rqv3g.svelte-2rqv3g {
    font-size: 10.6666666667px;
  }
}
.gridline.svelte-2rqv3g.svelte-2rqv3g {
  stroke: #e0e0e0;
}
.tick.svelte-2rqv3g text.svelte-2rqv3g,
.label.svelte-2rqv3g.svelte-2rqv3g {
  fill: #757575;
}
.tick.svelte-2rqv3g text.svelte-2rqv3g {
  pointer-events: none;
}
.label.svelte-2rqv3g.svelte-2rqv3g {
  text-anchor: start;
}
.baseline.svelte-2rqv3g.svelte-2rqv3g,
.tick-line.svelte-2rqv3g.svelte-2rqv3g {
  stroke: #bdbdbd;
}
.tick.svelte-csb80z.svelte-csb80z {
  font-size: 10.8333333333px;
  font-weight: 200;
}
@media (min-width: 320px) {
  .tick.svelte-csb80z.svelte-csb80z {
    font-size: calc(10.8333333333px + -0.1666666667 * (100vw - 320px) / 880);
  }
}
@media (min-width: 1200px) {
  .tick.svelte-csb80z.svelte-csb80z {
    font-size: 10.6666666667px;
  }
}
.tick.svelte-csb80z text.svelte-csb80z {
  fill: #757575;
  pointer-events: none;
}
.tick.svelte-csb80z line.svelte-csb80z {
  stroke: #e0e0e0;
}
.tick.tick-0.svelte-csb80z line.svelte-csb80z {
  stroke: #757575;
}
.timeline.svelte-19thtel.svelte-19thtel,
.timeline__svg.svelte-19thtel.svelte-19thtel,
.timeline__html.svelte-19thtel.svelte-19thtel {
  position: absolute;
  top: 0;
  left: 0;
  overflow: visible;
}
.timeline__wrapper.svelte-19thtel.svelte-19thtel {
  position: relative;
}
.timeline.svelte-19thtel.svelte-19thtel,
.timeline__wrapper.svelte-19thtel.svelte-19thtel,
.timeline__html.svelte-19thtel.svelte-19thtel {
  width: 100%;
  height: 100%;
}
.timeline__html.svelte-19thtel.svelte-19thtel {
  pointer-events: none;
}
.event-background.svelte-19thtel.svelte-19thtel {
  fill: #f5f5f5;
}
.connection-background.svelte-19thtel.svelte-19thtel {
  cursor: pointer;
  transition: fill-opacity 400ms ease-in-out;
  fill-opacity: 0.2;
  mix-blend-mode: multiply;
}
.connection-background.is-active.svelte-19thtel.svelte-19thtel {
  fill-opacity: 0.3;
}
.connection-background.is-inactive.svelte-19thtel.svelte-19thtel {
  fill-opacity: 0;
}
.connection-background__bg.svelte-19thtel.svelte-19thtel {
  transition: fill-opacity 400ms ease-in-out;
  fill: #fff;
  fill-opacity: 1;
}
.connection-background__bg.is-inactive.svelte-19thtel.svelte-19thtel {
  fill-opacity: 0;
}
.point.svelte-19thtel.svelte-19thtel {
  stroke: #fff;
  stroke-width: 2;
}
.point.svelte-19thtel.svelte-19thtel:hover {
  stroke: #000;
}
.point.is-inactive.svelte-19thtel.svelte-19thtel {
  opacity: 0;
}
.connection.svelte-19thtel.svelte-19thtel {
  fill: none;
  stroke-width: 2;
}
.connection-bg.svelte-19thtel.svelte-19thtel {
  fill: none;
  stroke: #fff;
  stroke-width: 6;
}
.label.svelte-19thtel.svelte-19thtel {
  cursor: pointer;
  font-size: 11.8673233608px;
}
@media (min-width: 320px) {
  .label.svelte-19thtel.svelte-19thtel {
    font-size: calc(11.8673233608px + 1.1966219506 * (100vw - 320px) / 880);
  }
}
@media (min-width: 1200px) {
  .label.svelte-19thtel.svelte-19thtel {
    font-size: 13.0639453114px;
  }
}
.is-inactive.svelte-19thtel .connection-bg.svelte-19thtel {
  opacity: 0.3;
  stroke-width: 3;
}
.is-inactive.svelte-19thtel .connection.svelte-19thtel {
  opacity: 0.7;
}
.is-inactive.svelte-19thtel .label.svelte-19thtel {
  opacity: 0.4;
}
.hover-line.svelte-19thtel.svelte-19thtel {
  stroke: #000;
  stroke-opacity: 0.4;
}
.event__line.svelte-19thtel.svelte-19thtel {
  stroke: #bdbdbd;
  stroke-opacity: 0.4;
}
.event__line.is-highlighted.svelte-19thtel.svelte-19thtel {
  stroke: #000;
  stroke-opacity: 0.4;
}
.chart-container.svelte-emj4au {
  position: relative;
  width: 100%;
  height: 100%;
}
.tooltip__content.svelte-jn06ze.svelte-jn06ze {
  pointer-events: all;
  font-size: 11.8673233608px;
}
@media (min-width: 320px) {
  .tooltip__content.svelte-jn06ze.svelte-jn06ze {
    font-size: calc(11.8673233608px + 1.1966219506 * (100vw - 320px) / 880);
  }
}
@media (min-width: 1200px) {
  .tooltip__content.svelte-jn06ze.svelte-jn06ze {
    font-size: 13.0639453114px;
  }
}
.tooltip__header.svelte-jn06ze h3.svelte-jn06ze {
  font-family: "Zilla Slab Medium", serif;
  font-size: 13px;
  line-height: 1.2;
  margin-bottom: 0.2em;
}
@media (min-width: 320px) {
  .tooltip__header.svelte-jn06ze h3.svelte-jn06ze {
    font-size: calc(13px + 3 * (100vw - 320px) / 880);
  }
}
@media (min-width: 1200px) {
  .tooltip__header.svelte-jn06ze h3.svelte-jn06ze {
    font-size: 16px;
  }
}
.tooltip__rows.svelte-jn06ze.svelte-jn06ze {
  line-height: 1.3;
}
.tooltip__item.svelte-jn06ze.svelte-jn06ze {
  padding-right: 0.25em;
}
.tooltip__item-info.svelte-jn06ze.svelte-jn06ze {
  color: #616161;
}
.tooltip__item-sub-text.svelte-jn06ze.svelte-jn06ze {
  margin-left: 1.75em;
  display: inline-block;
  margin-top: 2.6932907434px;
}
@media (min-width: 320px) {
  .tooltip__item-sub-text.svelte-jn06ze.svelte-jn06ze {
    margin-top: calc(2.6932907434px + -0.9374608395 * (100vw - 320px) / 880);
  }
}
@media (min-width: 1200px) {
  .tooltip__item-sub-text.svelte-jn06ze.svelte-jn06ze {
    margin-top: 1.755829904px;
  }
}
.tooltip__item-sub-info.svelte-jn06ze.svelte-jn06ze {
  margin-left: 1.75em;
  color: #616161;
  display: inline-block;
  margin-bottom: 5.9171597633px;
}
@media (min-width: 320px) {
  .tooltip__item-sub-info.svelte-jn06ze.svelte-jn06ze {
    margin-bottom: calc(5.9171597633px + 0.0087661626 * (100vw - 320px) / 880);
  }
}
@media (min-width: 1200px) {
  .tooltip__item-sub-info.svelte-jn06ze.svelte-jn06ze {
    margin-bottom: 5.9259259259px;
  }
}
.tooltip__item-color.svelte-jn06ze.svelte-jn06ze {
  display: inline-block;
  height: 1em;
  width: 1em;
  border-radius: 1em;
  margin-right: 0.5em;
}
.tooltip__space.is-small.svelte-jn06ze.svelte-jn06ze {
  margin-bottom: 2.6932907434px;
}
@media (min-width: 320px) {
  .tooltip__space.is-small.svelte-jn06ze.svelte-jn06ze {
    margin-bottom: calc(2.6932907434px + -0.9374608395 * (100vw - 320px) / 880);
  }
}
@media (min-width: 1200px) {
  .tooltip__space.is-small.svelte-jn06ze.svelte-jn06ze {
    margin-bottom: 1.755829904px;
  }
}
.tooltip__row.svelte-jn06ze.svelte-jn06ze {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
}
